<header>

    <nav>

        <div class="logo">
            <p class="logo-name">HOST <span style="font-size: 15px;">CLOUD</span></p>
        </div>

        <div class="menu">
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Conact Us</a></li>
            </ul>
        </div>

        <div class="sign">
            <button type="button" class="log-in">LOG IN</button>
            <button type="button" class="sign-up">SIGN UP</button>
        </div>

    </nav>

    <div class="search-here">
        <p class="domain">SEARCH YOUR DOMAIN</p>
        <form>
            <input type="text" class="text" placeholder="Enter your domain here...">
            <button type="button" class="search-btn">SEARCH NOW</button>
            <div class="checkbox">
                <div class="flex-check">
                    <input type="checkbox" class="click">
                    <p>.com($10/yr)</p>
                </div>
                <div class="flex-check">
                    <input type="checkbox" class="click">
                    <p>.net($12/yr)</p>
                </div>
                <div class="flex-check">
                    <input type="checkbox" class="click">
                    <p>.org($8/yr)</p>
                </div>
                <div class="flex-check">
                    <input type="checkbox" class="click">
                    <p>.in($6/yr)</p>
                </div>
            </div>
        </form>
    </div>

</header>