<footer>

    <div class="app-info">

        <div class="footer-block">
            <p class="block-heading">About Us</p>
            <p class="block-text">Host Cloud is provided by TemplateMo for free of charge. Anyone can download and use this CSS Bootstrap template for commercial purposes.</p>
        </div>
        <div class="footer-block">
            <p class="block-heading">Hosting Plans</p>
            <p class="block-text">Basic Cloud 5X</p>
            <p class="block-text">Cloud VPS 10X</p>
            <p class="block-text">Advanced Cloud</p>
            <p class="block-text">Custom Designs</p>
            <p class="block-text">Special Solutions</p>
        </div>
        <div class="footer-block">
            <p class="block-heading">Useful Links</p>
            <p class="block-text">Cloud Hosting Plateform</p>
            <p class="block-text">Light Speed Zone</p>
            <p class="block-text">Content Delivery Network</p>
            <p class="block-text">Custumer Support</p>
            <p class="block-text">Letest News</p>
        </div>
        <div class="footer-block">
            <p class="block-heading">More Information</p>
            <p class="block-text"><b>Phone</b>: 010-020-0560</p>
            <p class="block-text"><b>Email</b>: mail@company.com</p>
            <p class="block-text"><strong>Support</strong>: support@company.com</p>
            <p class="block-text"><strong>Website</strong>: www.company.com</p>
        </div>

    </div>

    <hr style="width: 87%; margin: 0 auto; border: 1px solid #9c8f8f;">

    <div class="design">
        <p class="copyright">Copyright © 2020 Cloud Hosting Company - Designed by TemplateMo</p>
    </div>

</footer>