<div class="cloud-plans">

    <div class="hosting">
        <h1 class="hosting-heading">Cloud Hosting Plans</h1>
        <p class="hosting-text">Lorem ipsum dolor amet taxidermy sriracha cardigan salvia actually vice migas enamel pin sustainable carry scenester lomo hot chicken farm table actually kinfolk.</p>
    </div>

    <div class="plans">

        <div class="monthly">
            <h4 class="plans-name">BASIC CLOUD 5X</h4>
            <div class="value">
                <h1 class="cost">$15.50</h1>
                <p class="time">MONTHLY</p>
            </div>
            <p class="about-plans">Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
            <hr class="cloud-hr"><br>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">500 GB Storage Space</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">3 TB Data Transfer</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">Basic Managed Panel</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">24/7 Fast Support</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">100 Premium Themes</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">Cancel or Upgrade Anytime</p>
            </div>
            <div class="click">
                <button type="button" class="cloud-btn">START PLAN</button>
            </div>
        </div>
        <div class="monthly">
            <h4 class="plans-name">CLOUD VPS 10X</h4>
            <div class="blue-value">
                <h1 class="blue-cost">$30.00</h1>
                <p class="blue-time">MONTHLY</p>
            </div>
            <p class="about-plans">Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
            <hr class="cloud-hr"><br>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">1 TB Cloud Space</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">8 TB Data Transfer</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">Fully Managed Panel</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">15-minute Quick Support</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">Unlimted Web Addons</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">Cancel or Upgrade Anytime</p>
            </div>
            <div class="click">
                <button type="button" class="blue-btn">SELECT PLAN</button>
            </div>
        </div>
        <div class="monthly">
            <h4 class="plans-name">ADVANCED CLOUD</h4>
            <div class="value">
                <h1 class="cost">$72.25</h1>
                <p class="time">MONTHLY</p>
            </div>
            <p class="about-plans">Etiam sit amet placerat lacus, sed placerat mauris. Vestibulum malesuada vehicula sapien non tempus.</p>
            <hr class="cloud-hr"><br>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">4 TB Cloud Space</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">20 TB Data Transfer</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">Fully Managed Panel</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">15-minute Quick Support</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">Top Notch Web Apps</p>
            </div>
            <div class="benifit">
                <i class="fa fa-check"></i>
                <p class="memory">Advanced Scalable</p>
            </div>
            <div class="click">
                <button type="button" class="cloud-btn">TAKE IT NOW</button>
            </div>
        </div>

    </div>



</div>