<div class="cloud">

    <div class="cloud-heading">
        <p class="cloud-blue">Best Quality for you</p>
        <h2>Cloud Features</h2>
    </div>

    <div class="cloud-features">

        <div class="devide">
            <div class="cloud-quality">
                <div><img src="././../../assets/clould-image.png" class="cloud-img"></div>
                <div class="cloud-text">
                    <h4>Load Balanced</h4>
                    <p class="cloud-gray">Nulla nisl ex, vehicula in urna nec, commodo consectetur augue. Vivamus nec metus mauris. Praesent lacinia tempus urna.</p>
                </div>
            </div>
            <div class="cloud-quality">
                <div><img src="././../../assets/clould-image.png" class="cloud-img"></div>
                <div class="cloud-text">
                    <h4>99.9% Uptime Guaranteed</h4>
                    <p class="cloud-gray">Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
                </div>
            </div>
        </div>

        <div class="devide">
            <div class="cloud-quality">
                <div><img src="././../../assets/clould-image.png" class="cloud-img"></div>
                <div class="cloud-text">
                    <h4>Top Reliability</h4>
                    <p class="cloud-gray">Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
                </div>
            </div>
            <div class="cloud-quality">
                <div><img src="././../../assets/clould-image.png" class="cloud-img"></div>
                <div class="cloud-text">
                    <h4>High Security</h4>
                    <p class="cloud-gray">Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
                </div>
            </div>
        </div>

        <div class="devide">
            <div class="cloud-quality">
                <div><img src="././../../assets/clould-image.png" class="cloud-img"></div>
                <div class="cloud-text">
                    <h4>Quality Hardwares</h4>
                    <p class="cloud-gray">Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
                </div>
            </div>
            <div class="cloud-quality">
                <div><img src="././../../assets/clould-image.png" class="cloud-img"></div>
                <div class="cloud-text">
                    <h4>Network Solutions</h4>
                    <p class="cloud-gray">Lorem ipsum dolor ame taxidermy sriracha cardigan salvia actually vice migas en pin sustainable carry scenester.</p>
                </div>
            </div>
        </div>

    </div>

</div>