<div class="testimonials">

    <div class="monials-parts">
        <p class="blue-text">Testimonials</p>
        <h1>What they say about us</h1>
        <i class="fa fa-quote-right"></i>
        <p class="italic-gray">"Ut elementum a elit sed tristique. Pellentesque sed semper erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean quam erat, rutrum ut malesuada."</p>
        <h3>William Smith</h3>
        <p class="blue-text">New Co-Founder</p>
        <p class="testi-dots">ooo</p>
    </div>

</div>