<div class="testimonials">

    <div class="monials-parts">
        <p class="blue-text">Testimonials</p>
        <h3>What they say about us</h3>
        <i class="fa fa-quote-roght"></i>
        <p>"Ut elementum a elit sed tristique. Pellentesque sed semper erat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean quam erat, rutrum ut malesuada."</p>
        <h4>William Smith</h4>
        <p class="blue-text">New Co-Founder</p>
        <button class="testi-btn">...</button>
    </div>

</div>